.galeria {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 10%;
    text-align: center;
    margin-bottom: 40px;
}

div article a {
    background-color: rgb(44, 44, 171);
    border-radius: 4px;
    height: 30px;
    text-decoration: none;

}

div a {
    background-color: rgb(18, 18, 20);
    border-radius: 4px;
    height: 30px;
    text-decoration: none;

}

h2 {
    text-align: center;
    font-size: 40px;
    font-family: Verdana;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}